@using UserStore.WEB.Models
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Подтверждение восстановления пароля";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <p>На указанный email отправлено письмо с инструкциями по восстановлению пароля</p>
    </div>
</div>
        
